* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: green;
}

.box div {
  width: 100px;
  height: 100px;
  background-color: red;
}