* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

button {
  margin: 1rem;
}

.btn {
  background-color: #e3e3e3;
  color: #222;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.btn.btn-background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  /* z index in the before section shows the color above text */
  background-color: #0af;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-background-slide:hover::before,
.btn.btn-background-slide:focus::before {
  transform: scaleX(1);
}

.btn.btn-background-slide {
  transition: transform 300ms ease-in-out;
  z-index: 1;
  /* z index in this section shows the color behind text */
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
    color: white;
}
