* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

button {
  margin: 1rem;
}

.btn {
  background-color: #e3e3e3;
  color: #222;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}




